fastapi==0.115.0
uvicorn==0.30.6
--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.4.1+cpu
torchvision==0.19.1+cpu
facenet-pytorch==2.5.3
numpy==1.26.4
python-multipart==0.0.9
pillow==10.4.0
opencv-python-headless==4.10.0.84
